.venv

*.h5
*.pkl
*.pt
*.onnx
__pycache__/
.ipynb_checkpoints
.DS_Store
models/
artifacts/models/

# Jupyter Notebook checkpoints
*.ipynb_checkpoints/
# VSCode settings
.vscode/

# MLflow artifacts
mlruns/
# local db
*.db


# Package folder
MLOPS_Project_1.egg-info/
